@{
    ViewData["Title"] = "Home Page";
}
<body>
    <header>
        <div class="logo">
            <img src="./img/LogoUnityCares.png" alt="UnityCares Logo">
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar">
            <button type="button">🔍</button>
        </div>
        @if(@ViewBag.Usuarios.email != "") {
              <div class="Perfil">
          <a href='@Url.Action("Home Page","Home")'><button type="button">@ViewBag.Usuarios.nombreUsuario</button></a>
        </div>
        }
        else{
          <div class="login">
          <a href='@Url.Action("Login","Home")'><button type="button">Iniciar Sesión</button></a>
        </div>
        }
    </header>

    <main>
        <div class="banner">
            <img src="./img/manos.png" alt="Banner Image">
        </div>

        <div class="content">
            <div class="card">
                <img class="logoong" src="./img/logo1.png" alt="Logo 1">
                <p>Defiende el medio ambiente y promueve la paz.</p>
                
            </div>
            <div class="card">
                <img class="logoong" src="img/logo2.png" alt="Logo 2">
                <p>Defiende el medio ambiente y promueve la paz.</p>
            </div>
            <div class="card">
                <img class="logoong" src="img/logo3.png" alt="Logo 3">
                <p>Lucha por los derechos humanos en todo el mundo.</p>
            </div>
            <div class="card">
                <img class="logoong" src="img/logo4.png" alt="Logo 4">
                <p>Brinda atención médica en crisis sin fronteras.</p>
            </div>
        </div>
    </main>

</body>