@{
    ViewData["Title"] = "postLogin";
}

<body>
    <header>
        <div class="logo">
            <img src="https://raw.githubusercontent.com/GuidoCofa/UnityCares/main/img/LogoUnityCares.png" alt="UnityCares Logo">
        </div>
    </header>
    <main>
        <div class="banner">
            <img src="https://github.com/GuidoCofa/UnityCares/blob/main/img/manos.png?raw=true" alt="Banner Image">
        </div>
        
        <div class="content">
            @if (ViewBag.ONGsCreadas != null)
            {
                @foreach(var i in ViewBag.ONGsCreadas)
                {
                    <div class="card">
                        <div class="photo">
                            <a href='@Url.Action("traerUna","Home", new {id = i.Id})'><img src="@i.Logo" alt="" height="300px" width="auto"></a>
                        </div>
                        <div class="title">@i.Nombre</div>
                        <div class="title">@i.Descripcion</div>
                    </div>
                }
            }
        </div>
    </main>
</body>